#region-noticia.container
  .region
    .region-title
      %h2.title
        Proyectos
      %span.subtitle
        = @proyecto.nombre
  
#region-noticia-figure
  = image_tag @proyecto.foto_url(:full)

#region-noticia-detail.container
  .region
    .region-inner
      = paragraph(@proyecto.contenido)
