#servicio
  %ul.top-nav
    - if @servicio.siguiente_servicio
      %li
        = link_to '>', @servicio.siguiente_servicio, remote: true
    - if @servicio.servicio_anterior
      %li
        = link_to '<', @servicio.servicio_anterior, remote: true
  %h2.title.ajax-title= @servicio.nombre

  %p
    = @servicio.contenido




