= render 'scripts/tiny_mce'

- page_title!('Editando servicio')

#region-servicios.container

  .region
    .region-title
      %h1
        Editando
        %b
          servicio

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @servicio, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
