.region-inner
  .velo-wrapper
    = image_tag noticia.imagenes.first.imagen_url(:thumb) if noticia.imagenes.first
    .velo
      %i.icon.search_big
      %h3
        = link_to noticia.titulo, noticia
  - if current_admin
    = link_to 'Editar', edit_noticia_path(noticia), class: 'btn btn-success'
    = link_to 'Eliminar', noticia, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
