%h1 Inicio#index
%p Find me in app/views/inicio/index.html.haml

- @slides.each do |slide|
  = image_tag slide.imagen_url(:full)

- @servicios.each do |servicio|
  = image_tag servicio.icono_url(:thumb)

- @clientes.each do |cliente|
  = image_tag cliente.logo_url(:thumb)
