#mantenimiento.container
  .region
    .region-title
      %h2.title= page_title!(I18n.t 'mantenimiento')
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
