- page_title!('Editando postulante')

#region-postulantes.container

  .region
    .region-title
      %h1
        Creando
        %b
          postulante

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
