@media (max-width: 767px){
#main-header{
  .social-links{
    position: relative;
  }
}

.dropdown{
  .dropdown-menu{
    li{
      a{
      text-align: center;
      }
     }
  }
}
#servicio{
  .top-nav{
    top:32px;
  }
}
.active-list{
    display: none;
  }

}
@media (min-width:768px) and (max-width:873px ){
 #main-header{
  .navbar-default .navbar-collapse .navbar-nav > li > a, .navbar-default .navbar-collapse .navbar-nav > li > span{
  padding:10px 8px !important;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child{
  margin-right:0px !important;
  }
}
}
@media (min-width:873px) and (max-width:978px){
  #main-header{
  .navbar-default .navbar-collapse .navbar-nav > li > a, .navbar-default .navbar-collapse .navbar-nav > li > span{
  padding:10px 14px !important;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child{
  margin-right:0px !important;
  }
}
}

