
.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border: 0}
.navbar-default {
  background: none;
  .navbar-collapse {
    .navbar-nav {
      margin-top: 45px;
      & > li {
        & > a,
        & > span {text-transform: uppercase; padding: 10px 25px; @include inline-block; font-weight: bold}
        &:hover > a,
        & > a:hover, & > a:focus,
        & > span {color: $gray; border-bottom: 4px solid $green}
        &.last {
          a {padding-right: 0}
        }
      }
    }
  }
  .bevel {border-bottom: 1px solid $bevel-black-bottom; border-top: 1px solid $bevel-black-top;}
}
@media (min-width:768px){
.dropdown {
  &:hover {
    .dropdown-menu {display: block !important}
  }
}
}

.navbar-default .navbar-nav > li > a {color: $gray; text-align:center;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {@extend .menu-hover}

.navbar-default .navbar-nav .dropdown-menu li a:hover {background: $green}
.backLava  {width: 100%; border-bottom: 4px solid $green; padding-bottom: 42px !important}
@media (max-width: 767px) {

  .navbar-toggle {margin: 0 auto 10px; float: none; display: block}
  .navbar-default .navbar-collapse .navbar-nav > li > a,
  .navbar-default .navbar-collapse .navbar-nav > li > span {display: block; text-align: center}
  .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
  .navbar-default .navbar-collapse .navbar-nav > li > span {color: white; text-shadow: 1px 1px 1px black}
  .backLava {border: 0; background: $green; padding-bottom: 0 !important}
  #main-header .social-links{
    right: 0px !important;
    padding: 0px !important;
    margin-bottom: 30px;
  }

}


@media (max-width: 980px) {
  #main-header{
    .container{
      width:100%;
    }
  }
  #logo a {float: none; margin: 0 auto; display: block; text-align: center}
  .navbar-default .navbar-collapse .navbar-nav {margin-top: 0}

  .navbar-default .navbar-nav > li > a{
  height: 50px;
  }
}

@media (min-width: 1280px) {
  .navbar-default .navbar-collapse .navbar-nav > li > a,
  .navbar-default .navbar-collapse .navbar-nav > li > span {padding: 10px 24px}
}

/*.backLava  {top: 100% !important; width: 100%; height: 4px !important; content: ""; background: $green}*/
/*.backLava:after {@include absolute(top, left, 100%, 0); width: 100%; height: 4px; content: ""; background: $green}*/


#main-header {
  background: $black;
  .region-inner {min-height: 120px}
  .social-links i {margin-left: 0; margin-right: 0}
}
#main-footer {
  height: 0%;
  background: $gray;
  .container {padding-bottom: 0; position: relative; min-height: 200px;}
  #footer-bottom {@include absolute(left, bottom, 0, 0);
  width:100%;
  }
}

#main-footer{
  .row, .region, #region-asociados-list .region-inner{
  margin-left: 0px;
  margin-right: 0px;
  }
  .region-inner p{
  font-size: 12px !important;
  }
}
#ticket {background: $green;
    .container {padding-bottom: 10px; width: 100%;}

  .region {
    overflow: hidden;

    .region-inner {width: 100%}
    li {margin-right: 20px; display: inline-block; float: left; padding-bottom: 5px; }
    a {margin-right: 0}

    i.icon {position: relative; top: 6px; margin-right: 5px}

  }
}

#logo {position: relative; z-index: 200; margin-top: 20px; margin-bottom: 20px;
  @extend .clearfix;
  a {padding: 0}
}

.tickercontainer {border: 0; width: 100%; background: none;
  .mask {
    width: 100%;
    li { background: none; font-weight: 300; font-size: $legible;
      a {color: black; font-weight: 300; font-size: $legible}
    }
  }
}

.carousel-control {
  width: 40px;
  &.left,
  &.right {background: none;}
  &.left {left: -15px; span{left: 0 !important}}
  &.right {right: -15px; span {right: 0 !important}}
  span {color: white; background: $gray; width: auto !important; padding: 10px; margin-top: -20px !important}
}


#carousel-generic {
  .carousel-inner {
    img {width: 100%}
  }
}

#servicios #content {margin-bottom: 120px}

#servicios-region {
  background: $sand;
}

#servicio h2.title {margin-top: 50px}

#home-productos {
  img {float: left; margin-right: 20px}
}

ul {
  @include no-bullet;
}


$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;


i.icon {
  display: block; margin-right: 10px; float: left;
  &.person_chart {@include icons-sprite(person_chart)}
  &.computer_chart {@include icons-sprite(computer_chart)}
  &.person_brain {@include icons-sprite(person_brain)}
  &.e_mail_marketing {@include icons-sprite(e_mail_marketing)}
  &.facebook {@include icons-sprite(facebook)}
  &.facebook_2 {@include icons-sprite(facebook_2)}
  &.facebook_3 {@include icons-sprite(facebook_3)}
  &.youtube {@include icons-sprite(youtube)}
  &.linkedin {@include icons-sprite(linkedin)}
  &.linkedin_2 {@include icons-sprite(linkedin_2)}
  &.linkedin_3 {@include icons-sprite(linkedin_3)}
  &.minisearch {@include icons-sprite(minisearch)}
  &.mail {@include icons-sprite(mail)}
  &.telephone {@include icons-sprite(telephone)}
  &.destination {@include icons-sprite(destination)}
  &.search_big {@include icons-sprite(search_big)}

}

#main-header {
  .container {padding-bottom: 0}
  i.icon {
    display: block; margin-left: 10px;
    &.mail_small {/*@include icons-sprite(mail_small)*/}
  }
  .social-links {
    color: $gray;
    text-align: center; @include absolute(top, right, 5px, 20px); z-index: 200;
    li, a {color: $gray; @include inline-block;
    }
  }
}

#main-footer {
  i.icon {
    display: block;
  }
  * {color: white}
}

#presentacion{
.icon{
float:none;
display:inline-block;
margin: none;
}
.r_icon{
text-align: center;
}
}
.social-links {
  #main-header & {
    li {@include inline-block}
  }
  #main-footer & {

  }
}

.active-list {
  text-transform: uppercase;
  .active-list-item a {text-decoration: underline !important}
}

.top-nav {@include absolute(top, right, 0, 0); text-align: right;
  li {float: right; margin-left: 1px;
    a {background: white; color: $sand; width: 40px; height: 40px; display: block; text-align: center;
      font-size: 25px; font-weight: 300;
      &:hover {text-decoration: none; color: darken($sand, 10%)}
    }
  }
}

#servicios-region {
  @include vertical-middle(50px);
  img {@extend .img-left;}
  h2.title,
  h3 a {color: white}
}

.icon {@include inline-block}

#carousel-noticias-list {
  .carousel-indicators {
    position: relative; bottom: auto; left: auto; margin: 0; width: auto;
    li {
      text-indent: 0; width: auto; height: auto;
    }
  }

}

#grid-noticias {
  .region-inner {
    .velo-wrapper {
      position: relative; overflow: hidden; min-height: 255px;
      .velo {@include absolute(left, top, 0, 0); @include size(100%, 100%); background: rgba(255,255,255,0.4);}
      .icon {@include absolute(left, bottom, 50%, 100% ); margin-left: -34px}
      a { padding: 20px 10px 0; @include absolute(top, left, 0, 0); @include size(100%, 100%); display: block }
      a {color: black}
      &:hover {.icon {bottom: 20px}}
    }
  }
}

.carousel-indicators a {color: black}


.region-title > h1 {
  margin-top: 20px;
}

b{
color:white;
}
.pull-left{
margin: 5px 20px 0px 0px;
}

#region-miembros #toggle{
cursor:pointer !important;
text-decoration: none;
span{
    font-family: 'Lato';
  }
}

#region-miembros .historia{
height: 140px;
overflow: hidden;
}

#region-contactos{
  .region{
    .btn-success{
      margin-top: 15px;
    }
  }
}

#region-miembros{
  .region{
    .btn-success{
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}

#carousel-generic{
  .btn-primary{
    margin-left: 20px;
    margin-top: 20px;
  }
  .btn-success{
    margin-top: 20px !important;
    margin-left: 20px !important;
  }
  .btn-danger{
   margin-top: 20px;
  }
}

.row, .region, #region-asociados-list .region-inner {
    margin-left: 0px;
      margin-right: 0px;
    }
#region-asociados-list{background-color: #9E8A2F; margin-bottom: 80px;
.region-inner{padding-left: 0px; margin: 0px;}
}
.region-asociados p{color:white;}
.region-asociados {padding-left:0px !important; margin: 40px 0px 0px 0px;}
.region.color{background-color:white;}

.carousel-indicators{bottom: -40px; }
.carousel-control.left{left: 0px;}
.carousel-control.right{right: 0px;}
.carousel-indicators li{border: 1px solid #72E642 !important;}
.carousel-indicators .active{background-color:  #72E642 !important;}
.carousel-caption{padding-bottom: 0px !important ;}


.ico{text-align: center;}
